/* style.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

#colorPicker,
#newGridButton,
#animateButton,
#stopAnimationButton {
        margin-bottom: 10px;
        margin: 5px;
}

#prevButton,
#nextButton {
    margin-bottom: 10px;
    margin: 5px;
}

#gridContainer {
    position: relative;
    perspective: 400px;
    margin-bottom: 50px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(8, 30px);
    gap: 2px;
    transform: rotateX(40deg) rotateZ(10deg);
    transform-style: preserve-3d;
    border: 10px solid #333;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    background-color: #666;
    padding: 10px;
    border-radius: 10px;
}

.grid-item {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.grid-item:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}